.menu-header {
    width: 60%;
}

.conteudo-sobre {
    flex-direction: column;
    align-items: center;
}

.imagem-sobre {
    width: 80%;
}

.banner{
    background-image: url(../imagens/imagem-fundo-banner.jpg);
}

.texto-sobre {
    width: 80%;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;

}

.conteudo-info {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo-endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 660px;
    justify-content: space-between;
    
}

.conteudo-endereco h2 {
    align-self: flex-start;
}

.texto-endereco p {
    width: 100%;
}

.mapa {
    position: unset;
    width: 400px;
    margin-top: 40px;
}

.texto-endereco{
    width: 100%;
}