*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
img{
    width: 100%;
    height: auto;}
a{
    text-decoration: none;}
/* reset */
#header{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    background-color: #000;
    color:#fff;
    opacity: 0.6 ;
    align-items: center;
    font: 400 20px Arial, sans-serif}
.conteiner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #ff0000, #0000ff);
    height: 200vh;
    flex-direction: column;}
.cadastro{
    width: 70%;
    height: 85vh;
    background-color: #000;
    opacity: 0.6;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;}
input,
button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
    outline: none;}
.input{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 100px 0 75px;}
.enviar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  }
button{
    margin-top: 20px ;
    cursor: pointer;}

@keyframes corBtn {

    0%{
        background-color: #1e1e1e;
        color: #fff;
    }

    100%{
        background-color: orangered ;
        color: #fff;
    }}

@keyframes excluir {
    0%{
        background-color: #1e1e1e;
        color: #fff;
    }

    100%{
        background-color: red ;
        color: #fff;
    }
}

button:hover{
    animation: corBtn;
    animation-duration: 1s;
    animation-fill-mode: forwards;}
#listaLivros,
#numLivros,
#mensagem{
    font:400 20px Arial,sans-serif;
    color: #fff;}
.conteudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;}
.carrossel{
    width: 70%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    opacity: 0.8;}
#carrosselImagem{
    width: auto;
    height: 70vh;
    border-radius: 15px;}
.excluir:hover{
    animation-name: excluir;
    animation-duration: 1s;
    animation-fill-mode: forwards;}















