<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volume</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="fundo">
        <div class="conteiner">
            <h1>Calcular volume de um prisma</h1>

            <form action="/calcular" method="post">
                <label for="altura">Altura:</label>
                <input placeholder="Insira uma altura em cm" type="number" id="altura" name="altura" required> 
                
                <label for="comprimento">Comprimento:</label>
                <input placeholder="Insira um comprimento em cm" type="number" id="comprimento" name="comprimento" required> 

                <label for="largura">Largura:</label>
                <input placeholder="Insira uma largura em cm" type="number" id="largura" name="largura" required> 

                <button type="submit">Calcular</button>
            </form>

        </div>
    </div>
    
</body>
</html>