*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;}
img{
    width: 100%;}
a{
    text-decoration: none;}
/* *** */
.conteiner{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;}
body{
    background-color: blue;}
.div-coluna{
    background-color: #fff;
    font: 700 20px 'Verdana'sans-serif;
    width: 40px;
    height: 35px;
    display: flex;
    justify-self: center;
    align-items: center;}
.div-linha{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;}
.certo{
    background-color: green;}
.errado{
    background-color: red;}











