*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: 'crimson-i' ;
    src: url(../font/Crimson_Text/CrimsonText-Italic.ttf);}
@font-face {
    font-family: 'crimson';
    src: url(../font/Crimson_Text/CrimsonText-Regular.ttf);}